In [1]:
import pandas as pd
import numpy as np

#from nltk.sentiment.vader import SentimentIntensityAnalyzer

from tqdm import tqdm

#import xgboost as xgb
#from xgboost.sklearn import XGBRegressor

#from catboost import CatBoostClassifier

#from sklearn.metrics import mean_squared_error as mse
#from sklearn.model_selection import StratifiedKFold, KFold
#from sklearn.preprocessing import LabelEncoder, RobustScaler
#from sklearn.neighbors import KNeighborsRegressor
#from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

#import lightgbm as lgb

#import matplotlib.pyplot as plt
#%matplotlib inline

#import re
#import nltk.data
#from nltk.corpus import stopwords

#from bs4 import BeautifulSoup
#import logging

#from gensim.models import word2vec, Word2Vec

In [2]:
train = pd.read_csv('train_sent.csv')
test = pd.read_csv('test_sent.csv')
reviews = pd.read_csv('all_reviews.csv')

In [3]:
reviews.fillna('none', inplace=True)

In [4]:
stop_words = set(stopwords.words('english'))
def clean(review):
    letters_only = BeautifulSoup(review).get_text()
    letters_only = re.sub('[^a-zA-Z0-9]', ' ', letters_only)
    letters_only = letters_only.lower()
    words = letters_only.split()
    words = [w for w in words if w not in stop_words]
    return " ".join(words)

In [5]:
all_reviews = []
for review in tqdm(reviews['comments']):
    all_reviews.append(clean(review))

  0%|          | 0/3288164 [00:00<?, ?it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 174 of the file C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))
  0%|          | 1761/3288164 [00:03<2:00:18, 455.27it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  0%|          | 5921/3288164 [00:12<1:55:19, 474.36it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "..." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  1%|          | 23663/3288164 [00:48<1:51:25, 488.26it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "/" looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  1%|          | 34748/3288164 [01:11<1:52:17, 482.89it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "   ." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  2%|▏         | 66894/3288164 [02:17<1:50:10, 487.29it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: ". " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  2%|▏         | 78919/3288164 [02:42<1:50:23, 484.50it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: ".." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  2%|▏         | 81354/3288164 [02:48<1:50:59, 481.57it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "    ." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  5%|▌         | 172071/3288164 [06:18<1:54:08, 454.97it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "...." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
  9%|▊         | 279738/3288164 [10:30<1:53:05, 443.38it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: " ." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 11%|█         | 350652/3288164 [13:11<1:50:30, 443.04it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: " ..." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 12%|█▏        | 382350/3288164 [14:33<1:50:36, 437.83it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "......" looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 13%|█▎        | 430218/3288164 [16:34<1:50:07, 432.52it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "  ." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 20%|██        | 662420/3288164 [26:02<1:43:13, 423.98it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "....." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 36%|███▌      | 1175076/3288164 [45:36<1:22:00, 429.46it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "\" looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 36%|███▋      | 1196442/3288164 [46:21<1:21:03, 430.07it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "    . " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 39%|███▊      | 1269376/3288164 [48:56<1:17:49, 432.30it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "  . " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 50%|█████     | 1653152/3288164 [1:03:32<1:02:51, 433.57it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "....................." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 57%|█████▋    | 1873625/3288164 [1:13:02<55:08, 427.50it/s]  C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "... " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 59%|█████▉    | 1938889/3288164 [1:15:49<52:46, 426.13it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "..............." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 86%|████████▌ | 2826170/3288164 [1:50:05<17:59, 427.86it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "..... " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 89%|████████▉ | 2921229/3288164 [1:53:46<14:17, 427.90it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: " . " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 96%|█████████▌| 3154023/3288164 [2:02:08<05:11, 430.37it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: ".. " looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
 97%|█████████▋| 3204621/3288164 [2:03:51<03:13, 431.21it/s]C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\bs4\__init__.py:219: UserWarning: "......." looks like a filename, not markup. You should probably open this file and pass the filehandle into Beautiful Soup.
  ' Beautiful Soup.' % markup)
100%|██████████| 3288164/3288164 [2:06:44<00:00, 432.37it/s]

In [6]:
all_reviews[5]

u'comfortable place stay good location everything needed weekend enjoyed delicious fresh eggs morning'

In [7]:
tfidfvectorizer = TfidfVectorizer(analyzer='word', max_features=500)
reviews_tfidf = tfidfvectorizer.fit_transform(all_reviews)
reviews_tfidf = reviews_tfidf.toarray()

In [13]:
vectorizer = CountVectorizer(analyzer='word', ngram_range=(1, 2), max_features=500)
reviews_vect = vectorizer.fit_transform(all_reviews)
reviews_vect = reviews_vect.toarray()

In [8]:
reviews_tfidf = pd.DataFrame(data=reviews_tfidf)

In [9]:
reviews_tfidf.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.276759,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.165951,0.0,0.0,0.11995,0.0,0.0

In [11]:
reviews_tfidf.to_csv('reviews_tfidf_500.csv', index=False)

In [22]:
reviews_tfidf['listing_id'] = reviews['listing_id']

In [ ]:
cols = range(500)
reviews_tfidf.groupby('listing_id')[cols].mean()

In [12]:
del tfidfvectorizer, reviews_tfidf

In [14]:
reviews_countvec = pd.DataFrame(data=reviews_vect)

In [15]:
reviews_countvec.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [16]:
reviews_countvec.to_csv('reviews_countvec_500.csv', index=False)

In [17]:
del reviews_vect, vectorizer

In [18]:
import pickle

In [19]:
with open("all_cleaned_reviews.txt", "wb") as fp:
    pickle.dump(all_reviews, fp)

In [1]:
import pandas as pd

train = pd.read_csv('train_sent.csv')
tfidf_feats = pd.read_csv('reviews_tfidf_500.csv')

In [17]:
test = pd.read_csv('test_sent.csv')

In [5]:
all_reviews = pd.read_csv('all_reviews.csv')

In [2]:
train.head()

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,compound,neg,neu,pos
0,6,93,9.0,9.0,10.0,10.0,9.0,9.0,0.906302,0.013705,0.660295,0.326000
1,109,80,10.0,10.0,6.0,8.0,10.0,8.0,0.479400,0.014000,0.854000,0.132500
2,344,80,10.0,10.0,10.0,10.0,10.0,8.0,0.492650,0.000000,0.792000,0.208000
3,686,95,9.0,10.0,10.0,10.0,10.0,10.0,0.899540,0.010952,0.690776,0.298262
4,930,98,10.0,10.0,10.0,10.0,10.0,10.0,0.883906,0.019000,0.591687,0.389250

In [12]:
tfidf_feats.head()

,tfidf_0,tfidf_1,tfidf_2,tfidf_3,tfidf_4,tfidf_5,tfidf_6,tfidf_7,tfidf_8,tfidf_9,...,tfidf_491,tfidf_492,tfidf_493,tfidf_494,tfidf_495,tfidf_496,tfidf_497,tfidf_498,tfidf_499,listing_id
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,665257
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.276759,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,665257
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,665257
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,665257
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.165951,0.0,0.0,0.11995,0.0,0.0,665257

In [9]:
tfidf_feats.columns = ['tfidf_' + str(x) for x in range(500)]

In [11]:
tfidf_feats['listing_id'] = listing_ids

In [6]:
all_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,665257,2200401,2012-09-04,3369543,Jess,Fresh eggs waiting for us in the fridge!
1,665257,2255411,2012-09-10,799015,Ben & Tori,Jack's back house is super cozy. It's nice and...
2,665257,2316293,2012-09-17,3395850,Jungho Eric,The cottage was a perfect place for my fiancee...
3,665257,2339727,2012-09-18,1491009,Charisse & Andrew,This was a great place and exactly like the ph...
4,665257,2496120,2012-10-03,3416229,Julie,"My boyfriend and I went to Asheville, NC for a..."

In [8]:
listing_ids = all_reviews['listing_id']
del all_reviews

In [13]:
from tqdm import tqdm

In [14]:
temp = tfidf_feats.groupby('listing_id')['tfidf_0', 'tfidf_1', 'tfidf_2', 'tfidf_3', 'tfidf_4'].mean().reset_index()
#temp['listing_id'] = listing_ids
for i in tqdm(range(5, 496, 5)):
    col = ['tfidf_' + str(x) for x in range(i, i+5)]
    temp = temp.merge(tfidf_feats.groupby('listing_id')[col].mean().reset_index(), on='listing_id', how='left')

100%|██████████| 99/99 [02:12<00:00,  1.33s/it]

In [15]:
temp.head()

,listing_id,tfidf_0,tfidf_1,tfidf_2,tfidf_3,tfidf_4,tfidf_5,tfidf_6,tfidf_7,tfidf_8,...,tfidf_490,tfidf_491,tfidf_492,tfidf_493,tfidf_494,tfidf_495,tfidf_496,tfidf_497,tfidf_498,tfidf_499
0,6,0.003512,0.003844,0.004084,0.007015,0.007911,0.008778,0.000000,0.026626,0.004477,...,0.018758,0.000000,0.023051,0.008308,0.019079,0.006175,0.004160,0.038539,0.000000,0.000000
1,109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.110257,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,177,0.018539,0.000000,0.000000,0.015575,0.000000,0.000000,0.000000,0.005861,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.011103,0.003890,0.000000,0.065150,0.007421,0.000000
3,344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.099799,0.000000,0.000000,0.000000,0.000000,0.000000
4,590,0.003411,0.002003,0.002235,0.007447,0.004238,0.006511,0.003818,0.023761,0.008390,...,0.000396,0.004709,0.003471,0.003395,0.049071,0.004224,0.001828,0.037127,0.002014,0.000292

In [16]:
del tfidf_feats

In [18]:
train = train.merge(temp, on='listing_id', how='left')
test = test.merge(temp, on='listing_id', how='left')

In [25]:
train.head()

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,compound,neg,...,tfidf_490,tfidf_491,tfidf_492,tfidf_493,tfidf_494,tfidf_495,tfidf_496,tfidf_497,tfidf_498,tfidf_499
0,6,93,9.0,9.0,10.0,10.0,9.0,9.0,0.906302,0.013705,...,0.018758,0.000000,0.023051,0.008308,0.019079,0.006175,0.004160,0.038539,0.000000,0.0
1,109,80,10.0,10.0,6.0,8.0,10.0,8.0,0.479400,0.014000,...,0.000000,0.000000,0.110257,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,344,80,10.0,10.0,10.0,10.0,10.0,8.0,0.492650,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.099799,0.000000,0.000000,0.000000,0.000000,0.0
3,686,95,9.0,10.0,10.0,10.0,10.0,10.0,0.899540,0.010952,...,0.002357,0.002016,0.013285,0.002760,0.046788,0.002260,0.005933,0.029674,0.002152,0.0
4,930,98,10.0,10.0,10.0,10.0,10.0,10.0,0.883906,0.019000,...,0.000000,0.000000,0.000000,0.014873,0.047524,0.000000,0.000000,0.017576,0.000000,0.0

In [20]:
test.head()

,listing_id,compound,neg,neu,pos,tfidf_0,tfidf_1,tfidf_2,tfidf_3,tfidf_4,...,tfidf_490,tfidf_491,tfidf_492,tfidf_493,tfidf_494,tfidf_495,tfidf_496,tfidf_497,tfidf_498,tfidf_499
0,177,0.789695,0.020895,0.655263,0.323816,0.018539,0.000000,0.000000,0.015575,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.011103,0.003890,0.000000,0.065150,0.007421,0.000000
1,590,0.887377,0.010110,0.679164,0.308788,0.003411,0.002003,0.002235,0.007447,0.004238,...,0.000396,0.004709,0.003471,0.003395,0.049071,0.004224,0.001828,0.037127,0.002014,0.000292
2,958,0.821159,0.014551,0.691268,0.286315,0.006324,0.001155,0.001212,0.005461,0.009148,...,0.001140,0.003660,0.014773,0.002662,0.029116,0.004606,0.000860,0.045134,0.010897,0.000000
3,1788,0.886797,0.002567,0.695867,0.301567,0.000000,0.000000,0.000000,0.005999,0.005437,...,0.000000,0.000000,0.026448,0.009305,0.019542,0.005898,0.000000,0.046969,0.007287,0.000000
4,2384,0.909629,0.011200,0.706920,0.281907,0.023232,0.007957,0.002030,0.004146,0.006971,...,0.002042,0.002843,0.007681,0.000000,0.038377,0.011297,0.000000,0.021947,0.001225,0.000000

In [22]:
train.isnull().sum().sum()

0

In [23]:
test.isnull().sum().sum()

0

In [47]:
train.to_csv('train_sent_tfidf_500_loc.csv', index=False)
test.to_csv('test_sent_tfidf_500_loc.csv', index=False)

In [26]:
import os

In [30]:
location = []
list_ids = []
for f in os.listdir('contestdata/'):
    print f
    listings = pd.read_csv('contestdata/' + f + '/listings.csv')
    location += ([f]*listings.shape[0])
    list_ids += list(listings['id'])
    
listing_per_location = pd.DataFrame({'listing_id': list_ids, 'location': location})

asheville
austin

C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (81) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

boston
chicago
denver
losangeles

C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (80) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

nasheville
neworleans
newyork

C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (43,61,62,81) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

oakland
portland
sandiego
sanfrancisco
santacruz
seattle
washingtondc

In [31]:
listing_per_location.head()

   listing_id   location
0      665257  asheville
1     2746729  asheville
2     6919450  asheville
3    12286328  asheville
4      156926  asheville

In [33]:
train = train.merge(listing_per_location, on='listing_id', how='left')

In [42]:
train.head()

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,compound,neg,...,boston,chicago,denver,losangeles,neworleans,newyork,portland,sandiego,santacruz,seattle
0,6,93,9.0,9.0,10.0,10.0,9.0,9.0,0.906302,0.013705,...,0,0,0,0,0,0,0,1,0,0
1,109,80,10.0,10.0,6.0,8.0,10.0,8.0,0.479400,0.014000,...,0,0,0,1,0,0,0,0,0,0
2,344,80,10.0,10.0,10.0,10.0,10.0,8.0,0.492650,0.000000,...,0,0,0,1,0,0,0,0,0,0
3,686,95,9.0,10.0,10.0,10.0,10.0,10.0,0.899540,0.010952,...,0,0,1,0,0,0,0,0,0,0
4,930,98,10.0,10.0,10.0,10.0,10.0,10.0,0.883906,0.019000,...,0,0,1,0,0,0,0,0,0,0

In [39]:
train.groupby('location')['review_scores_accuracy'].describe()

              count      mean       std  min   25%   50%   75%   max
location
asheville     520.0  9.731999  0.620431  6.0  10.0  10.0  10.0  10.0
austin       5943.0  9.735217  0.680873  2.0  10.0  10.0  10.0  10.0
boston       3944.0  9.589025  0.772810  2.0   9.0  10.0  10.0  10.0
chicago      2235.0  9.711534  0.636927  4.0  10.0  10.0  10.0  10.0
denver       1744.0  9.831422  0.539032  2.0  10.0  10.0  10.0  10.0
losangeles  23725.0  9.612420  0.788791  2.0   9.0  10.0  10.0  10.0
neworleans   3272.0  9.753948  0.665868  2.0  10.0  10.0  10.0  10.0
newyork     18425.0  9.580290  0.832204  2.0   9.0  10.0  10.0  10.0
portland     2944.0  9.860026  0.462567  4.0  10.0  10.0  10.0  10.0
sandiego     4481.0  9.596123  0.796078  2.0   9.0  10.0  10.0  10.0
santacruz     490.0  9.628571  0.572727  7.0   9.0  10.0  10.0  10.0
seattle      3171.0  9.636403  0.696819  2.0   9.0  10.0  10.0  10.0

In [41]:
temp2 =pd.get_dummies(train['location'])
temp2['listing_id'] = train['listing_id']
train = train.merge(temp2, on='listing_id', how='left')

In [43]:
test = test.merge(listing_per_location, on='listing_id', how='left')

In [46]:
test.head()

,listing_id,compound,neg,neu,pos,tfidf_0,tfidf_1,tfidf_2,tfidf_3,tfidf_4,...,chicago,denver,nasheville,neworleans,newyork,oakland,portland,sanfrancisco,santacruz,washingtondc
0,177,0.789695,0.020895,0.655263,0.323816,0.018539,0.000000,0.000000,0.015575,0.000000,...,0,1,0,0,0,0,0,0,0,0
1,590,0.887377,0.010110,0.679164,0.308788,0.003411,0.002003,0.002235,0.007447,0.004238,...,0,1,0,0,0,0,0,0,0,0
2,958,0.821159,0.014551,0.691268,0.286315,0.006324,0.001155,0.001212,0.005461,0.009148,...,0,0,0,0,0,0,0,1,0,0
3,1788,0.886797,0.002567,0.695867,0.301567,0.000000,0.000000,0.000000,0.005999,0.005437,...,0,1,0,0,0,0,0,0,0,0
4,2384,0.909629,0.011200,0.706920,0.281907,0.023232,0.007957,0.002030,0.004146,0.006971,...,1,0,0,0,0,0,0,0,0,0

In [45]:
temp2 =pd.get_dummies(test['location'])
temp2['listing_id'] = test['listing_id']
test = test.merge(temp2, on='listing_id', how='left')

In [48]:
train['location'].value_counts()

losangeles    23725
newyork       18425
austin         5943
sandiego       4481
boston         3944
neworleans     3272
seattle        3171
portland       2944
chicago        2235
denver         1744
asheville       520
santacruz       490
Name: location, dtype: int64

In [49]:
test['location'].value_counts()

newyork         18436
washingtondc     5559
nasheville       4515
sanfrancisco     4366
chicago          2224
denver           1647
neworleans       1421
oakland          1295
portland         1239
asheville         222
santacruz         208
Name: location, dtype: int64

In [84]:
train_sent_w2v = pd.read_csv('train_sent_w2v_300.csv')
test_sent_w2v = pd.read_csv('test_sent_w2v_300.csv')

In [85]:
test_sent_w2v.shape, train_sent_w2v.shape, train.shape, test.shape

((41129, 305), (70894, 312), (70894, 525), (41132, 517))

In [86]:
train_sent_w2v.head()

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,compound,neg,...,w2v_290,w2v_291,w2v_292,w2v_293,w2v_294,w2v_295,w2v_296,w2v_297,w2v_298,w2v_299
0,6,93,9.0,9.0,10.0,10.0,9.0,9.0,0.906302,0.013705,...,0.332753,0.015466,0.004644,-0.130289,0.152784,0.173813,0.030352,-0.055120,0.116520,-0.114467
1,109,80,10.0,10.0,6.0,8.0,10.0,8.0,0.479400,0.014000,...,0.437039,0.005597,0.043232,0.009074,0.350516,0.309713,-0.247882,-0.017767,0.375197,-0.212089
2,344,80,10.0,10.0,10.0,10.0,10.0,8.0,0.492650,0.000000,...,0.255970,0.275075,0.055811,-0.073632,0.231418,0.462461,-0.211986,-0.248795,0.444771,-0.333489
3,686,95,9.0,10.0,10.0,10.0,10.0,10.0,0.899540,0.010952,...,0.303829,0.072201,-0.073746,-0.055288,0.148126,0.079536,-0.022140,-0.047929,0.066058,-0.141938
4,930,98,10.0,10.0,10.0,10.0,10.0,10.0,0.883906,0.019000,...,0.288086,-0.146234,-0.023919,-0.132986,0.083889,0.148205,0.197570,-0.094648,0.074119,-0.185301

In [87]:
test_sent_w2v.head()

,listing_id,compound,neg,neu,pos,w2v_0,w2v_1,w2v_2,w2v_3,w2v_4,...,w2v_290,w2v_291,w2v_292,w2v_293,w2v_294,w2v_295,w2v_296,w2v_297,w2v_298,w2v_299
0,177,0.789695,0.020895,0.655263,0.323816,0.125443,0.099148,0.239083,-0.109373,0.115686,...,0.343390,0.079102,0.099657,-0.108110,0.214957,0.185194,-0.007544,-0.052955,0.061775,-0.084681
1,590,0.887377,0.010110,0.679164,0.308788,0.003294,0.097149,0.235431,-0.051583,0.079655,...,0.371077,0.131271,-0.067424,0.024969,0.142040,0.190251,-0.029581,-0.054145,0.055785,-0.112137
2,958,0.821159,0.014551,0.691268,0.286315,0.215096,0.095965,0.287974,-0.119683,0.054009,...,0.298860,-0.070695,-0.036481,-0.167621,0.161097,0.143639,0.066764,0.019375,-0.000382,-0.147448
3,1788,0.886797,0.002567,0.695867,0.301567,0.229944,0.084868,0.307960,-0.106768,0.125780,...,0.353351,0.056552,0.017254,-0.058394,0.197951,0.115530,0.090405,-0.017649,0.054126,-0.167841
4,2384,0.909629,0.011200,0.706920,0.281907,0.109573,0.115508,0.294353,-0.011445,0.069103,...,0.351657,0.046355,-0.075938,0.044893,0.171532,0.197407,0.021918,-0.060119,0.025050,-0.143853

In [64]:
list(train.columns)

['listing_id',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'compound',
 'neg',
 'neu',
 'pos',
 'tfidf_0',
 'tfidf_1',
 'tfidf_2',
 'tfidf_3',
 'tfidf_4',
 'tfidf_5',
 'tfidf_6',
 'tfidf_7',
 'tfidf_8',
 'tfidf_9',
 'tfidf_10',
 'tfidf_11',
 'tfidf_12',
 'tfidf_13',
 'tfidf_14',
 'tfidf_15',
 'tfidf_16',
 'tfidf_17',
 'tfidf_18',
 'tfidf_19',
 'tfidf_20',
 'tfidf_21',
 'tfidf_22',
 'tfidf_23',
 'tfidf_24',
 'tfidf_25',
 'tfidf_26',
 'tfidf_27',
 'tfidf_28',
 'tfidf_29',
 'tfidf_30',
 'tfidf_31',
 'tfidf_32',
 'tfidf_33',
 'tfidf_34',
 'tfidf_35',
 'tfidf_36',
 'tfidf_37',
 'tfidf_38',
 'tfidf_39',
 'tfidf_40',
 'tfidf_41',
 'tfidf_42',
 'tfidf_43',
 'tfidf_44',
 'tfidf_45',
 'tfidf_46',
 'tfidf_47',
 'tfidf_48',
 'tfidf_49',
 'tfidf_50',
 'tfidf_51',
 'tfidf_52',
 'tfidf_53',
 'tfidf_54',
 'tfidf_55',
 'tfidf_56',
 'tfidf_57',
 'tfidf_58',
 'tfidf_59',
 'tfidf_60',
 'tfidf_61',
 'tfidf_62',
 'tfidf_63',
 'tfidf_64',
 'tfidf_65',
 'tfidf_66',
 'tfidf_67',
 'tfidf_68',
 'tfidf_69',
 'tfidf_70',
 'tfidf_71',
 'tfidf_72',
 'tfidf_73',
 'tfidf_74',
 'tfidf_75',
 'tfidf_76',
 'tfidf_77',
 'tfidf_78',
 'tfidf_79',
 'tfidf_80',
 'tfidf_81',
 'tfidf_82',
 'tfidf_83',
 'tfidf_84',
 'tfidf_85',
 'tfidf_86',
 'tfidf_87',
 'tfidf_88',
 'tfidf_89',
 'tfidf_90',
 'tfidf_91',
 'tfidf_92',
 'tfidf_93',
 'tfidf_94',
 'tfidf_95',
 'tfidf_96',
 'tfidf_97',
 'tfidf_98',
 'tfidf_99',
 'tfidf_100',
 'tfidf_101',
 'tfidf_102',
 'tfidf_103',
 'tfidf_104',
 'tfidf_105',
 'tfidf_106',
 'tfidf_107',
 'tfidf_108',
 'tfidf_109',
 'tfidf_110',
 'tfidf_111',
 'tfidf_112',
 'tfidf_113',
 'tfidf_114',
 'tfidf_115',
 'tfidf_116',
 'tfidf_117',
 'tfidf_118',
 'tfidf_119',
 'tfidf_120',
 'tfidf_121',
 'tfidf_122',
 'tfidf_123',
 'tfidf_124',
 'tfidf_125',
 'tfidf_126',
 'tfidf_127',
 'tfidf_128',
 'tfidf_129',
 'tfidf_130',
 'tfidf_131',
 'tfidf_132',
 'tfidf_133',
 'tfidf_134',
 'tfidf_135',
 'tfidf_136',
 'tfidf_137',
 'tfidf_138',
 'tfidf_139',
 'tfidf_140',
 'tfidf_141',
 'tfidf_142',
 'tfidf_143',
 'tfidf_144',
 'tfidf_145',
 'tfidf_146',
 'tfidf_147',
 'tfidf_148',
 'tfidf_149',
 'tfidf_150',
 'tfidf_151',
 'tfidf_152',
 'tfidf_153',
 'tfidf_154',
 'tfidf_155',
 'tfidf_156',
 'tfidf_157',
 'tfidf_158',
 'tfidf_159',
 'tfidf_160',
 'tfidf_161',
 'tfidf_162',
 'tfidf_163',
 'tfidf_164',
 'tfidf_165',
 'tfidf_166',
 'tfidf_167',
 'tfidf_168',
 'tfidf_169',
 'tfidf_170',
 'tfidf_171',
 'tfidf_172',
 'tfidf_173',
 'tfidf_174',
 'tfidf_175',
 'tfidf_176',
 'tfidf_177',
 'tfidf_178',
 'tfidf_179',
 'tfidf_180',
 'tfidf_181',
 'tfidf_182',
 'tfidf_183',
 'tfidf_184',
 'tfidf_185',
 'tfidf_186',
 'tfidf_187',
 'tfidf_188',
 'tfidf_189',
 'tfidf_190',
 'tfidf_191',
 'tfidf_192',
 'tfidf_193',
 'tfidf_194',
 'tfidf_195',
 'tfidf_196',
 'tfidf_197',
 'tfidf_198',
 'tfidf_199',
 'tfidf_200',
 'tfidf_201',
 'tfidf_202',
 'tfidf_203',
 'tfidf_204',
 'tfidf_205',
 'tfidf_206',
 'tfidf_207',
 'tfidf_208',
 'tfidf_209',
 'tfidf_210',
 'tfidf_211',
 'tfidf_212',
 'tfidf_213',
 'tfidf_214',
 'tfidf_215',
 'tfidf_216',
 'tfidf_217',
 'tfidf_218',
 'tfidf_219',
 'tfidf_220',
 'tfidf_221',
 'tfidf_222',
 'tfidf_223',
 'tfidf_224',
 'tfidf_225',
 'tfidf_226',
 'tfidf_227',
 'tfidf_228',
 'tfidf_229',
 'tfidf_230',
 'tfidf_231',
 'tfidf_232',
 'tfidf_233',
 'tfidf_234',
 'tfidf_235',
 'tfidf_236',
 'tfidf_237',
 'tfidf_238',
 'tfidf_239',
 'tfidf_240',
 'tfidf_241',
 'tfidf_242',
 'tfidf_243',
 'tfidf_244',
 'tfidf_245',
 'tfidf_246',
 'tfidf_247',
 'tfidf_248',
 'tfidf_249',
 'tfidf_250',
 'tfidf_251',
 'tfidf_252',
 'tfidf_253',
 'tfidf_254',
 'tfidf_255',
 'tfidf_256',
 'tfidf_257',
 'tfidf_258',
 'tfidf_259',
 'tfidf_260',
 'tfidf_261',
 'tfidf_262',
 'tfidf_263',
 'tfidf_264',
 'tfidf_265',
 'tfidf_266',
 'tfidf_267',
 'tfidf_268',
 'tfidf_269',
 'tfidf_270',
 'tfidf_271',
 'tfidf_272',
 'tfidf_273',
 'tfidf_274',
 'tfidf_275',
 'tfidf_276',
 'tfidf_277',
 'tfidf_278',
 'tfidf_279',
 'tfidf_280',
 'tfidf_281',
 'tfidf_282',
 'tfidf_283',
 'tfidf_284',
 'tfidf_285',
 'tfidf_286',
 'tfidf_287',
 'tfidf_288',
 'tfidf_289',
 'tfidf_290',
 'tfidf_291',
 'tfidf_292',
 'tfidf_293',
 'tfidf_294',
 'tfidf_295',
 'tfidf_296',
 'tfidf_297',
 'tfidf_298',
 'tfidf_299',
 'tfidf_300',
 'tfidf_301',
 'tfidf_302',
 'tfidf_303',
 'tfidf_304',
 'tfidf_305',
 'tfidf_306',
 'tfidf_307',
 'tfidf_308',
 'tfidf_309',
 'tfidf_310',
 'tfidf_311',
 'tfidf_312',
 'tfidf_313',
 'tfidf_314',
 'tfidf_315',
 'tfidf_316',
 'tfidf_317',
 'tfidf_318',
 'tfidf_319',
 'tfidf_320',
 'tfidf_321',
 'tfidf_322',
 'tfidf_323',
 'tfidf_324',
 'tfidf_325',
 'tfidf_326',
 'tfidf_327',
 'tfidf_328',
 'tfidf_329',
 'tfidf_330',
 'tfidf_331',
 'tfidf_332',
 'tfidf_333',
 'tfidf_334',
 'tfidf_335',
 'tfidf_336',
 'tfidf_337',
 'tfidf_338',
 'tfidf_339',
 'tfidf_340',
 'tfidf_341',
 'tfidf_342',
 'tfidf_343',
 'tfidf_344',
 'tfidf_345',
 'tfidf_346',
 'tfidf_347',
 'tfidf_348',
 'tfidf_349',
 'tfidf_350',
 'tfidf_351',
 'tfidf_352',
 'tfidf_353',
 'tfidf_354',
 'tfidf_355',
 'tfidf_356',
 'tfidf_357',
 'tfidf_358',
 'tfidf_359',
 'tfidf_360',
 'tfidf_361',
 'tfidf_362',
 'tfidf_363',
 'tfidf_364',
 'tfidf_365',
 'tfidf_366',
 'tfidf_367',
 'tfidf_368',
 'tfidf_369',
 'tfidf_370',
 'tfidf_371',
 'tfidf_372',
 'tfidf_373',
 'tfidf_374',
 'tfidf_375',
 'tfidf_376',
 'tfidf_377',
 'tfidf_378',
 'tfidf_379',
 'tfidf_380',
 'tfidf_381',
 'tfidf_382',
 'tfidf_383',
 'tfidf_384',
 'tfidf_385',
 'tfidf_386',
 'tfidf_387',
 'tfidf_388',
 'tfidf_389',
 'tfidf_390',
 'tfidf_391',
 'tfidf_392',
 'tfidf_393',
 'tfidf_394',
 'tfidf_395',
 'tfidf_396',
 'tfidf_397',
 'tfidf_398',
 'tfidf_399',
 'tfidf_400',
 'tfidf_401',
 'tfidf_402',
 'tfidf_403',
 'tfidf_404',
 'tfidf_405',
 'tfidf_406',
 'tfidf_407',
 'tfidf_408',
 'tfidf_409',
 'tfidf_410',
 'tfidf_411',
 'tfidf_412',
 'tfidf_413',
 'tfidf_414',
 'tfidf_415',
 'tfidf_416',
 'tfidf_417',
 'tfidf_418',
 'tfidf_419',
 'tfidf_420',
 'tfidf_421',
 'tfidf_422',
 'tfidf_423',
 'tfidf_424',
 'tfidf_425',
 'tfidf_426',
 'tfidf_427',
 'tfidf_428',
 'tfidf_429',
 'tfidf_430',
 'tfidf_431',
 'tfidf_432',
 'tfidf_433',
 'tfidf_434',
 'tfidf_435',
 'tfidf_436',
 'tfidf_437',
 'tfidf_438',
 'tfidf_439',
 'tfidf_440',
 'tfidf_441',
 'tfidf_442',
 'tfidf_443',
 'tfidf_444',
 'tfidf_445',
 'tfidf_446',
 'tfidf_447',
 'tfidf_448',
 'tfidf_449',
 'tfidf_450',
 'tfidf_451',
 'tfidf_452',
 'tfidf_453',
 'tfidf_454',
 'tfidf_455',
 'tfidf_456',
 'tfidf_457',
 'tfidf_458',
 'tfidf_459',
 'tfidf_460',
 'tfidf_461',
 'tfidf_462',
 'tfidf_463',
 'tfidf_464',
 'tfidf_465',
 'tfidf_466',
 'tfidf_467',
 'tfidf_468',
 'tfidf_469',
 'tfidf_470',
 'tfidf_471',
 'tfidf_472',
 'tfidf_473',
 'tfidf_474',
 'tfidf_475',
 'tfidf_476',
 'tfidf_477',
 'tfidf_478',
 'tfidf_479',
 'tfidf_480',
 'tfidf_481',
 'tfidf_482',
 'tfidf_483',
 'tfidf_484',
 'tfidf_485',
 'tfidf_486',
 'tfidf_487',
 'tfidf_488',
 'tfidf_489',
 'tfidf_490',
 'tfidf_491',
 'tfidf_492',
 'tfidf_493',
 'tfidf_494',
 'tfidf_495',
 'tfidf_496',
 'tfidf_497',
 'tfidf_498',
 'tfidf_499',
 'location',
 'asheville',
 'austin',
 'boston',
 'chicago',
 'denver',
 'losangeles',
 'neworleans',
 'newyork',
 'portland',
 'sandiego',
 'santacruz',
 'seattle']

In [90]:
listing_per_location.drop_duplicates('listing_id', inplace=True)

In [92]:
train_sent_w2v = train_sent_w2v.merge(listing_per_location, on='listing_id', how='left')
test_sent_w2v = test_sent_w2v.merge(listing_per_location, on='listing_id', how='left')

In [91]:
listing_per_location.shape, listing_per_location['listing_id'].nunique()

((145461, 2), 145461)

In [93]:
train_sent_w2v.head()

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,compound,neg,...,w2v_291,w2v_292,w2v_293,w2v_294,w2v_295,w2v_296,w2v_297,w2v_298,w2v_299,location
0,6,93,9.0,9.0,10.0,10.0,9.0,9.0,0.906302,0.013705,...,0.015466,0.004644,-0.130289,0.152784,0.173813,0.030352,-0.055120,0.116520,-0.114467,sandiego
1,109,80,10.0,10.0,6.0,8.0,10.0,8.0,0.479400,0.014000,...,0.005597,0.043232,0.009074,0.350516,0.309713,-0.247882,-0.017767,0.375197,-0.212089,losangeles
2,344,80,10.0,10.0,10.0,10.0,10.0,8.0,0.492650,0.000000,...,0.275075,0.055811,-0.073632,0.231418,0.462461,-0.211986,-0.248795,0.444771,-0.333489,losangeles
3,686,95,9.0,10.0,10.0,10.0,10.0,10.0,0.899540,0.010952,...,0.072201,-0.073746,-0.055288,0.148126,0.079536,-0.022140,-0.047929,0.066058,-0.141938,denver
4,930,98,10.0,10.0,10.0,10.0,10.0,10.0,0.883906,0.019000,...,-0.146234,-0.023919,-0.132986,0.083889,0.148205,0.197570,-0.094648,0.074119,-0.185301,denver

In [94]:
train_sent_w2v.shape, test_sent_w2v.shape

((70894, 313), (41129, 306))

In [95]:
temp2 =pd.get_dummies(train_sent_w2v['location'])
temp2['listing_id'] = train_sent_w2v['listing_id']
train_sent_w2v = train_sent_w2v.merge(temp2, on='listing_id', how='left')

In [96]:
temp2 =pd.get_dummies(test_sent_w2v['location'])
temp2['listing_id'] = test_sent_w2v['listing_id']
test_sent_w2v = test_sent_w2v.merge(temp2, on='listing_id', how='left')

In [107]:
train_sent_w2v.shape, test_sent_w2v.shape

((70894, 329), (41129, 322))

In [98]:
train_sent_w2v['nasheville'] = 0
train_sent_w2v['oakland'] = 0
train_sent_w2v['sanfrancisco'] = 0
train_sent_w2v['washingtondc'] = 0

test_sent_w2v['losangeles'] = 0
test_sent_w2v['austin'] = 0
test_sent_w2v['sandiego'] = 0
test_sent_w2v['boston'] = 0
test_sent_w2v['seattle'] = 0

In [100]:
train_sent_w2v.to_csv('train_sent_w2v_300_loc.csv')
test_sent_w2v.to_csv('test_sent_w2v_300_loc.csv')

In [105]:
test.drop_duplicates('listing_id', inplace=True)

In [106]:
train.shape, test.shape

((70894, 525), (41129, 517))

In [108]:
train_sent_w2v_300_tfidf_500 = train_sent_w2v.merge(train[['listing_id'] + ['tfidf_' + str(x) for x in range(500)]], on='listing_id', how='left')

In [109]:
test_sent_w2v_300_tfidf_500 = test_sent_w2v.merge(test[['listing_id'] + ['tfidf_' + str(x) for x in range(500)]], on='listing_id', how='left')

In [112]:
train_sent_w2v_300_tfidf_500.shape, test_sent_w2v_300_tfidf_500.shape

((70894, 829), (41129, 822))

In [70]:
list(test_sent_w2v_300_tfidf_500.columns)

['listing_id',
 'compound',
 'neg',
 'neu',
 'pos',
 'w2v_0',
 'w2v_1',
 'w2v_2',
 'w2v_3',
 'w2v_4',
 'w2v_5',
 'w2v_6',
 'w2v_7',
 'w2v_8',
 'w2v_9',
 'w2v_10',
 'w2v_11',
 'w2v_12',
 'w2v_13',
 'w2v_14',
 'w2v_15',
 'w2v_16',
 'w2v_17',
 'w2v_18',
 'w2v_19',
 'w2v_20',
 'w2v_21',
 'w2v_22',
 'w2v_23',
 'w2v_24',
 'w2v_25',
 'w2v_26',
 'w2v_27',
 'w2v_28',
 'w2v_29',
 'w2v_30',
 'w2v_31',
 'w2v_32',
 'w2v_33',
 'w2v_34',
 'w2v_35',
 'w2v_36',
 'w2v_37',
 'w2v_38',
 'w2v_39',
 'w2v_40',
 'w2v_41',
 'w2v_42',
 'w2v_43',
 'w2v_44',
 'w2v_45',
 'w2v_46',
 'w2v_47',
 'w2v_48',
 'w2v_49',
 'w2v_50',
 'w2v_51',
 'w2v_52',
 'w2v_53',
 'w2v_54',
 'w2v_55',
 'w2v_56',
 'w2v_57',
 'w2v_58',
 'w2v_59',
 'w2v_60',
 'w2v_61',
 'w2v_62',
 'w2v_63',
 'w2v_64',
 'w2v_65',
 'w2v_66',
 'w2v_67',
 'w2v_68',
 'w2v_69',
 'w2v_70',
 'w2v_71',
 'w2v_72',
 'w2v_73',
 'w2v_74',
 'w2v_75',
 'w2v_76',
 'w2v_77',
 'w2v_78',
 'w2v_79',
 'w2v_80',
 'w2v_81',
 'w2v_82',
 'w2v_83',
 'w2v_84',
 'w2v_85',
 'w2v_86',
 'w2v_87',
 'w2v_88',
 'w2v_89',
 'w2v_90',
 'w2v_91',
 'w2v_92',
 'w2v_93',
 'w2v_94',
 'w2v_95',
 'w2v_96',
 'w2v_97',
 'w2v_98',
 'w2v_99',
 'w2v_100',
 'w2v_101',
 'w2v_102',
 'w2v_103',
 'w2v_104',
 'w2v_105',
 'w2v_106',
 'w2v_107',
 'w2v_108',
 'w2v_109',
 'w2v_110',
 'w2v_111',
 'w2v_112',
 'w2v_113',
 'w2v_114',
 'w2v_115',
 'w2v_116',
 'w2v_117',
 'w2v_118',
 'w2v_119',
 'w2v_120',
 'w2v_121',
 'w2v_122',
 'w2v_123',
 'w2v_124',
 'w2v_125',
 'w2v_126',
 'w2v_127',
 'w2v_128',
 'w2v_129',
 'w2v_130',
 'w2v_131',
 'w2v_132',
 'w2v_133',
 'w2v_134',
 'w2v_135',
 'w2v_136',
 'w2v_137',
 'w2v_138',
 'w2v_139',
 'w2v_140',
 'w2v_141',
 'w2v_142',
 'w2v_143',
 'w2v_144',
 'w2v_145',
 'w2v_146',
 'w2v_147',
 'w2v_148',
 'w2v_149',
 'w2v_150',
 'w2v_151',
 'w2v_152',
 'w2v_153',
 'w2v_154',
 'w2v_155',
 'w2v_156',
 'w2v_157',
 'w2v_158',
 'w2v_159',
 'w2v_160',
 'w2v_161',
 'w2v_162',
 'w2v_163',
 'w2v_164',
 'w2v_165',
 'w2v_166',
 'w2v_167',
 'w2v_168',
 'w2v_169',
 'w2v_170',
 'w2v_171',
 'w2v_172',
 'w2v_173',
 'w2v_174',
 'w2v_175',
 'w2v_176',
 'w2v_177',
 'w2v_178',
 'w2v_179',
 'w2v_180',
 'w2v_181',
 'w2v_182',
 'w2v_183',
 'w2v_184',
 'w2v_185',
 'w2v_186',
 'w2v_187',
 'w2v_188',
 'w2v_189',
 'w2v_190',
 'w2v_191',
 'w2v_192',
 'w2v_193',
 'w2v_194',
 'w2v_195',
 'w2v_196',
 'w2v_197',
 'w2v_198',
 'w2v_199',
 'w2v_200',
 'w2v_201',
 'w2v_202',
 'w2v_203',
 'w2v_204',
 'w2v_205',
 'w2v_206',
 'w2v_207',
 'w2v_208',
 'w2v_209',
 'w2v_210',
 'w2v_211',
 'w2v_212',
 'w2v_213',
 'w2v_214',
 'w2v_215',
 'w2v_216',
 'w2v_217',
 'w2v_218',
 'w2v_219',
 'w2v_220',
 'w2v_221',
 'w2v_222',
 'w2v_223',
 'w2v_224',
 'w2v_225',
 'w2v_226',
 'w2v_227',
 'w2v_228',
 'w2v_229',
 'w2v_230',
 'w2v_231',
 'w2v_232',
 'w2v_233',
 'w2v_234',
 'w2v_235',
 'w2v_236',
 'w2v_237',
 'w2v_238',
 'w2v_239',
 'w2v_240',
 'w2v_241',
 'w2v_242',
 'w2v_243',
 'w2v_244',
 'w2v_245',
 'w2v_246',
 'w2v_247',
 'w2v_248',
 'w2v_249',
 'w2v_250',
 'w2v_251',
 'w2v_252',
 'w2v_253',
 'w2v_254',
 'w2v_255',
 'w2v_256',
 'w2v_257',
 'w2v_258',
 'w2v_259',
 'w2v_260',
 'w2v_261',
 'w2v_262',
 'w2v_263',
 'w2v_264',
 'w2v_265',
 'w2v_266',
 'w2v_267',
 'w2v_268',
 'w2v_269',
 'w2v_270',
 'w2v_271',
 'w2v_272',
 'w2v_273',
 'w2v_274',
 'w2v_275',
 'w2v_276',
 'w2v_277',
 'w2v_278',
 'w2v_279',
 'w2v_280',
 'w2v_281',
 'w2v_282',
 'w2v_283',
 'w2v_284',
 'w2v_285',
 'w2v_286',
 'w2v_287',
 'w2v_288',
 'w2v_289',
 'w2v_290',
 'w2v_291',
 'w2v_292',
 'w2v_293',
 'w2v_294',
 'w2v_295',
 'w2v_296',
 'w2v_297',
 'w2v_298',
 'w2v_299',
 'location',
 'asheville',
 'chicago',
 'denver',
 'nasheville',
 'neworleans',
 'newyork',
 'oakland',
 'portland',
 'sanfrancisco',
 'santacruz',
 'washingtondc',
 'losangeles',
 'austin',
 'sandiego',
 'boston',
 'seattle',
 'tfidf_0',
 'tfidf_1',
 'tfidf_2',
 'tfidf_3',
 'tfidf_4',
 'tfidf_5',
 'tfidf_6',
 'tfidf_7',
 'tfidf_8',
 'tfidf_9',
 'tfidf_10',
 'tfidf_11',
 'tfidf_12',
 'tfidf_13',
 'tfidf_14',
 'tfidf_15',
 'tfidf_16',
 'tfidf_17',
 'tfidf_18',
 'tfidf_19',
 'tfidf_20',
 'tfidf_21',
 'tfidf_22',
 'tfidf_23',
 'tfidf_24',
 'tfidf_25',
 'tfidf_26',
 'tfidf_27',
 'tfidf_28',
 'tfidf_29',
 'tfidf_30',
 'tfidf_31',
 'tfidf_32',
 'tfidf_33',
 'tfidf_34',
 'tfidf_35',
 'tfidf_36',
 'tfidf_37',
 'tfidf_38',
 'tfidf_39',
 'tfidf_40',
 'tfidf_41',
 'tfidf_42',
 'tfidf_43',
 'tfidf_44',
 'tfidf_45',
 'tfidf_46',
 'tfidf_47',
 'tfidf_48',
 'tfidf_49',
 'tfidf_50',
 'tfidf_51',
 'tfidf_52',
 'tfidf_53',
 'tfidf_54',
 'tfidf_55',
 'tfidf_56',
 'tfidf_57',
 'tfidf_58',
 'tfidf_59',
 'tfidf_60',
 'tfidf_61',
 'tfidf_62',
 'tfidf_63',
 'tfidf_64',
 'tfidf_65',
 'tfidf_66',
 'tfidf_67',
 'tfidf_68',
 'tfidf_69',
 'tfidf_70',
 'tfidf_71',
 'tfidf_72',
 'tfidf_73',
 'tfidf_74',
 'tfidf_75',
 'tfidf_76',
 'tfidf_77',
 'tfidf_78',
 'tfidf_79',
 'tfidf_80',
 'tfidf_81',
 'tfidf_82',
 'tfidf_83',
 'tfidf_84',
 'tfidf_85',
 'tfidf_86',
 'tfidf_87',
 'tfidf_88',
 'tfidf_89',
 'tfidf_90',
 'tfidf_91',
 'tfidf_92',
 'tfidf_93',
 'tfidf_94',
 'tfidf_95',
 'tfidf_96',
 'tfidf_97',
 'tfidf_98',
 'tfidf_99',
 'tfidf_100',
 'tfidf_101',
 'tfidf_102',
 'tfidf_103',
 'tfidf_104',
 'tfidf_105',
 'tfidf_106',
 'tfidf_107',
 'tfidf_108',
 'tfidf_109',
 'tfidf_110',
 'tfidf_111',
 'tfidf_112',
 'tfidf_113',
 'tfidf_114',
 'tfidf_115',
 'tfidf_116',
 'tfidf_117',
 'tfidf_118',
 'tfidf_119',
 'tfidf_120',
 'tfidf_121',
 'tfidf_122',
 'tfidf_123',
 'tfidf_124',
 'tfidf_125',
 'tfidf_126',
 'tfidf_127',
 'tfidf_128',
 'tfidf_129',
 'tfidf_130',
 'tfidf_131',
 'tfidf_132',
 'tfidf_133',
 'tfidf_134',
 'tfidf_135',
 'tfidf_136',
 'tfidf_137',
 'tfidf_138',
 'tfidf_139',
 'tfidf_140',
 'tfidf_141',
 'tfidf_142',
 'tfidf_143',
 'tfidf_144',
 'tfidf_145',
 'tfidf_146',
 'tfidf_147',
 'tfidf_148',
 'tfidf_149',
 'tfidf_150',
 'tfidf_151',
 'tfidf_152',
 'tfidf_153',
 'tfidf_154',
 'tfidf_155',
 'tfidf_156',
 'tfidf_157',
 'tfidf_158',
 'tfidf_159',
 'tfidf_160',
 'tfidf_161',
 'tfidf_162',
 'tfidf_163',
 'tfidf_164',
 'tfidf_165',
 'tfidf_166',
 'tfidf_167',
 'tfidf_168',
 'tfidf_169',
 'tfidf_170',
 'tfidf_171',
 'tfidf_172',
 'tfidf_173',
 'tfidf_174',
 'tfidf_175',
 'tfidf_176',
 'tfidf_177',
 'tfidf_178',
 'tfidf_179',
 'tfidf_180',
 'tfidf_181',
 'tfidf_182',
 'tfidf_183',
 'tfidf_184',
 'tfidf_185',
 'tfidf_186',
 'tfidf_187',
 'tfidf_188',
 'tfidf_189',
 'tfidf_190',
 'tfidf_191',
 'tfidf_192',
 'tfidf_193',
 'tfidf_194',
 'tfidf_195',
 'tfidf_196',
 'tfidf_197',
 'tfidf_198',
 'tfidf_199',
 'tfidf_200',
 'tfidf_201',
 'tfidf_202',
 'tfidf_203',
 'tfidf_204',
 'tfidf_205',
 'tfidf_206',
 'tfidf_207',
 'tfidf_208',
 'tfidf_209',
 'tfidf_210',
 'tfidf_211',
 'tfidf_212',
 'tfidf_213',
 'tfidf_214',
 'tfidf_215',
 'tfidf_216',
 'tfidf_217',
 'tfidf_218',
 'tfidf_219',
 'tfidf_220',
 'tfidf_221',
 'tfidf_222',
 'tfidf_223',
 'tfidf_224',
 'tfidf_225',
 'tfidf_226',
 'tfidf_227',
 'tfidf_228',
 'tfidf_229',
 'tfidf_230',
 'tfidf_231',
 'tfidf_232',
 'tfidf_233',
 'tfidf_234',
 'tfidf_235',
 'tfidf_236',
 'tfidf_237',
 'tfidf_238',
 'tfidf_239',
 'tfidf_240',
 'tfidf_241',
 'tfidf_242',
 'tfidf_243',
 'tfidf_244',
 'tfidf_245',
 'tfidf_246',
 'tfidf_247',
 'tfidf_248',
 'tfidf_249',
 'tfidf_250',
 'tfidf_251',
 'tfidf_252',
 'tfidf_253',
 'tfidf_254',
 'tfidf_255',
 'tfidf_256',
 'tfidf_257',
 'tfidf_258',
 'tfidf_259',
 'tfidf_260',
 'tfidf_261',
 'tfidf_262',
 'tfidf_263',
 'tfidf_264',
 'tfidf_265',
 'tfidf_266',
 'tfidf_267',
 'tfidf_268',
 'tfidf_269',
 'tfidf_270',
 'tfidf_271',
 'tfidf_272',
 'tfidf_273',
 'tfidf_274',
 'tfidf_275',
 'tfidf_276',
 'tfidf_277',
 'tfidf_278',
 'tfidf_279',
 'tfidf_280',
 'tfidf_281',
 'tfidf_282',
 'tfidf_283',
 'tfidf_284',
 'tfidf_285',
 'tfidf_286',
 'tfidf_287',
 'tfidf_288',
 'tfidf_289',
 'tfidf_290',
 'tfidf_291',
 'tfidf_292',
 'tfidf_293',
 'tfidf_294',
 'tfidf_295',
 'tfidf_296',
 'tfidf_297',
 'tfidf_298',
 'tfidf_299',
 'tfidf_300',
 'tfidf_301',
 'tfidf_302',
 'tfidf_303',
 'tfidf_304',
 'tfidf_305',
 'tfidf_306',
 'tfidf_307',
 'tfidf_308',
 'tfidf_309',
 'tfidf_310',
 'tfidf_311',
 'tfidf_312',
 'tfidf_313',
 'tfidf_314',
 'tfidf_315',
 'tfidf_316',
 'tfidf_317',
 'tfidf_318',
 'tfidf_319',
 'tfidf_320',
 'tfidf_321',
 'tfidf_322',
 'tfidf_323',
 'tfidf_324',
 'tfidf_325',
 'tfidf_326',
 'tfidf_327',
 'tfidf_328',
 'tfidf_329',
 'tfidf_330',
 'tfidf_331',
 'tfidf_332',
 'tfidf_333',
 'tfidf_334',
 'tfidf_335',
 'tfidf_336',
 'tfidf_337',
 'tfidf_338',
 'tfidf_339',
 'tfidf_340',
 'tfidf_341',
 'tfidf_342',
 'tfidf_343',
 'tfidf_344',
 'tfidf_345',
 'tfidf_346',
 'tfidf_347',
 'tfidf_348',
 'tfidf_349',
 'tfidf_350',
 'tfidf_351',
 'tfidf_352',
 'tfidf_353',
 'tfidf_354',
 'tfidf_355',
 'tfidf_356',
 'tfidf_357',
 'tfidf_358',
 'tfidf_359',
 'tfidf_360',
 'tfidf_361',
 'tfidf_362',
 'tfidf_363',
 'tfidf_364',
 'tfidf_365',
 'tfidf_366',
 'tfidf_367',
 'tfidf_368',
 'tfidf_369',
 'tfidf_370',
 'tfidf_371',
 'tfidf_372',
 'tfidf_373',
 'tfidf_374',
 'tfidf_375',
 'tfidf_376',
 'tfidf_377',
 'tfidf_378',
 'tfidf_379',
 'tfidf_380',
 'tfidf_381',
 'tfidf_382',
 'tfidf_383',
 'tfidf_384',
 'tfidf_385',
 'tfidf_386',
 'tfidf_387',
 'tfidf_388',
 'tfidf_389',
 'tfidf_390',
 'tfidf_391',
 'tfidf_392',
 'tfidf_393',
 'tfidf_394',
 'tfidf_395',
 'tfidf_396',
 'tfidf_397',
 'tfidf_398',
 'tfidf_399',
 'tfidf_400',
 'tfidf_401',
 'tfidf_402',
 'tfidf_403',
 'tfidf_404',
 'tfidf_405',
 'tfidf_406',
 'tfidf_407',
 'tfidf_408',
 'tfidf_409',
 'tfidf_410',
 'tfidf_411',
 'tfidf_412',
 'tfidf_413',
 'tfidf_414',
 'tfidf_415',
 'tfidf_416',
 'tfidf_417',
 'tfidf_418',
 'tfidf_419',
 'tfidf_420',
 'tfidf_421',
 'tfidf_422',
 'tfidf_423',
 'tfidf_424',
 'tfidf_425',
 'tfidf_426',
 'tfidf_427',
 'tfidf_428',
 'tfidf_429',
 'tfidf_430',
 'tfidf_431',
 'tfidf_432',
 'tfidf_433',
 'tfidf_434',
 'tfidf_435',
 'tfidf_436',
 'tfidf_437',
 'tfidf_438',
 'tfidf_439',
 'tfidf_440',
 'tfidf_441',
 'tfidf_442',
 'tfidf_443',
 'tfidf_444',
 'tfidf_445',
 'tfidf_446',
 'tfidf_447',
 'tfidf_448',
 'tfidf_449',
 'tfidf_450',
 'tfidf_451',
 'tfidf_452',
 'tfidf_453',
 'tfidf_454',
 'tfidf_455',
 'tfidf_456',
 'tfidf_457',
 'tfidf_458',
 'tfidf_459',
 'tfidf_460',
 'tfidf_461',
 'tfidf_462',
 'tfidf_463',
 'tfidf_464',
 'tfidf_465',
 'tfidf_466',
 'tfidf_467',
 'tfidf_468',
 'tfidf_469',
 'tfidf_470',
 'tfidf_471',
 'tfidf_472',
 'tfidf_473',
 'tfidf_474',
 'tfidf_475',
 'tfidf_476',
 'tfidf_477',
 'tfidf_478',
 'tfidf_479',
 'tfidf_480',
 'tfidf_481',
 'tfidf_482',
 'tfidf_483',
 'tfidf_484',
 'tfidf_485',
 'tfidf_486',
 'tfidf_487',
 'tfidf_488',
 'tfidf_489',
 'tfidf_490',
 'tfidf_491',
 'tfidf_492',
 'tfidf_493',
 'tfidf_494',
 'tfidf_495',
 'tfidf_496',
 'tfidf_497',
 'tfidf_498',
 'tfidf_499']

In [111]:
train_sent_w2v_300_tfidf_500.to_csv('train_sent_w2v_300_tfidf_500_loc.csv', index=False)
test_sent_w2v_300_tfidf_500.to_csv('test_sent_w2v_300_tfidf_500_loc.csv', index=False)

In [113]:
all_listings = pd.read_csv('all_listings.csv')

C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2718: DtypeWarning: Columns (24,26,47,49,52,54,59,61,65,66,73,88,90,91,92) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [130]:
all_listings['host_listings_count'].value_counts()

1.0      83811
2.0      23654
3.0      10271
4.0       5478
5.0       3248
6.0       2428
7.0       1737
8.0       1506
9.0       1244
10.0       805
11.0       798
12.0       648
14.0       414
13.0       367
16.0       354
15.0       351
18.0       315
21.0       309
27.0       301
17.0       260
25.0       254
24.0       226
19.0       219
20.0       211
26.0       204
22.0       194
982.0      181
36.0       177
23.0       168
62.0       167
         ...
425.0        2
194.0        2
107.0        2
180.0        1
198.0        1
369.0        1
534.0        1
326.0        1
133.0        1
390.0        1
93.0         1
59.0         1
271.0        1
225.0        1
612.0        1
76.0         1
628.0        1
151.0        1
784.0        1
136.0        1
211.0        1
123.0        1
70.0         1
560.0        1
821.0        1
141.0        1
128.0        1
80.0         1
83.0         1
64.0         1
Name: host_listings_count, Length: 194, dtype: int64

In [131]:
all_listings['host_response_rate'].describe()

count     111600
unique        82
top         100%
freq       86150
Name: host_response_rate, dtype: object

In [120]:
listing_properties = ['accommodates', 'bathrooms', 'bedrooms', 'beds', 'cancellation_policy', 'cleaning_fee', 'extra_people', 'guests_included', 'host_is_superhost', 'host_listings_count', 'host_response_rate', 'number_of_reviews', 'price', 'reviews_per_month', 'security_deposit']

In [138]:
all_listings[listing_properties].isnull().sum()

accommodates           0
bathrooms              0
bedrooms               0
beds                   0
cancellation_policy    0
cleaning_fee           0
extra_people           0
guests_included        0
host_is_superhost      0
host_listings_count    0
host_response_rate     0
number_of_reviews      0
price                  0
reviews_per_month      0
security_deposit       0
dtype: int64

In [143]:
all_listings.shape

(145461, 93)

In [135]:
for x in ['host_response_rate', 'bathrooms', 'bedrooms', 'beds', 'host_listings_count', 'host_response_rate']:
    all_listings[x].fillna(1, inplace=True)
all_listings['reviews_per_month'].fillna(all_listings['reviews_per_month'].mean(), inplace=True)
for x in ['cleaning_fee', 'security_deposit']:
    all_listings[x].fillna(0, inplace=True)
all_listings['host_is_superhost'].fillna('f', inplace=True)

In [137]:
all_listings['host_is_superhost'].loc[all_listings['host_is_superhost'] == 't'] = 1
all_listings['host_is_superhost'].loc[all_listings['host_is_superhost'] == 'f'] = 0

C:\Users\I345351\AppData\Local\Continuum\anaconda2\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [142]:
all_listings['id'].nunique()

145461

In [141]:
all_listings.drop_duplicates('id', inplace=True)

In [144]:
all_listings.rename(columns={'id':'listing_id'}, inplace=True)

In [145]:
train_sent_w2v_300_tfidf_500 = train_sent_w2v_300_tfidf_500.merge(all_listings[['listing_id'] + listing_properties], on='listing_id', how='left')

In [146]:
test_sent_w2v_300_tfidf_500 = test_sent_w2v_300_tfidf_500.merge(all_listings[['listing_id'] + listing_properties], on='listing_id', how='left')

In [147]:
train_sent_w2v_300_tfidf_500.shape, test_sent_w2v_300_tfidf_500.shape

((70894, 844), (41129, 837))

In [148]:
train_sent_w2v_300_tfidf_500.to_csv('train_sent_w2v_300_tfidf_500_loc_listing.csv')
test_sent_w2v_300_tfidf_500.to_csv('test_sent_w2v_300_tfidf_500_loc_listing.csv')

In [2]:
listing_ids = pd.read_csv('all_reviews.csv', usecols=[0])

In [3]:
listing_ids

         listing_id
0            665257
1            665257
2            665257
3            665257
4            665257
5            665257
6            665257
7            665257
8            665257
9            665257
10           665257
11           665257
12           665257
13           665257
14           665257
15           665257
16           665257
17           665257
18           665257
19           665257
20           665257
21           665257
22           665257
23           665257
24           665257
25           665257
26           665257
27           665257
28           665257
29           665257
...             ...
3288134     3102110
3288135     3102110
3288136     3102110
3288137     3102110
3288138     3102110
3288139     3102110
3288140     3102110
3288141     3102110
3288142     3102110
3288143     3102110
3288144     3801025
3288145     3801025
3288146     3801025
3288147     3801025
3288148     3801025
3288149     3801025
3288150     3801025
3288151     3801025
3288152     3801025
3288153     3801025
3288154     3801025
3288155       13744
3288156       13744
3288157       13744
3288158       13744
3288159       13744
3288160       13744
3288161       13744
3288162       13744
3288163       13744

[3288164 rows x 1 columns]

In [4]:
print 6

In [3]:
reviews_countvec = pd.read_csv('reviews_countvec_500.csv', usecols=range(400, 405))
reviews_countvec['listing_id'] = listing_ids['listing_id']
reviews_countvec['count'] = range(reviews_countvec.shape[0])

for x in tqdm(range(405, 496, 5)):
    temp = pd.read_csv('reviews_countvec_500.csv', usecols=range(x, x+5))
    temp['count'] = reviews_countvec['count']#listing_ids['listing_id']
    reviews_countvec = reviews_countvec.merge(temp, on='count', how='left')

100%|██████████| 19/19 [17:21<00:00, 54.83s/it]

In [4]:
reviews_countvec.drop('count', axis=1, inplace=True)

In [5]:
reviews_countvec.head()

,400,401,402,403,404,listing_id,405,406,407,408,...,490,491,492,493,494,495,496,497,498,499
0,0,0,0,0,0,665257,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,665257,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,665257,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,665257,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,665257,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [6]:
temp = reviews_countvec.groupby('listing_id')['400', '401', '402', '403', '404'].mean().reset_index()
#temp['listing_id'] = listing_ids
for i in tqdm(range(405, 496, 5)):
    col = [str(x) for x in range(i, i+5)]
    temp = temp.merge(reviews_countvec.groupby('listing_id')[col].mean().reset_index(), on='listing_id', how='left')

100%|██████████| 19/19 [00:18<00:00,  1.05it/s]

In [11]:
temp.head()

,listing_id,count_400,count_401,count_402,count_403,count_404,count_405,count_406,count_407,count_408,...,count_490,count_491,count_492,count_493,count_494,count_495,count_496,count_497,count_498,count_499
0,6,0.022727,0.045455,0.068182,0.000000,0.113636,0.000000,0.000000,0.045455,0.0,...,0.136364,0.022727,0.022727,0.022727,0.272727,0.113636,0.022727,0.022727,0.045455,0.000000
1,109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,177,0.000000,0.026316,0.184211,0.026316,0.157895,0.000000,0.000000,0.052632,0.0,...,0.078947,0.000000,0.026316,0.000000,0.421053,0.184211,0.052632,0.078947,0.000000,0.000000
3,344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,590,0.001931,0.027027,0.000000,0.011583,0.048263,0.019305,0.023166,0.011583,0.0,...,0.229730,0.065637,0.019305,0.007722,0.260618,0.055985,0.023166,0.046332,0.030888,0.001931

In [10]:
temp.columns = ['listing_id'] + ['count_' + str(x) for x in range(400, 500)]

In [12]:
temp.to_csv('count_vect_feats_500_400_499.csv', index=False)

In [15]:
temp = pd.read_csv('count_vect_feats_500_0_99.csv')
temp = temp.merge(pd.read_csv('count_vect_feats_500_100_199.csv'), on='listing_id', how='left')
temp = temp.merge(pd.read_csv('count_vect_feats_500_200_299.csv'), on='listing_id', how='left')
temp = temp.merge(pd.read_csv('count_vect_feats_500_300_399.csv'), on='listing_id', how='left')
temp = temp.merge(pd.read_csv('count_vect_feats_500_400_499.csv'), on='listing_id', how='left')

In [16]:
temp.shape

(113916, 501)

In [17]:
temp.to_csv('countvec_feats_500.csv', index=False)

In [18]:
temp.head()

,listing_id,count_0,count_1,count_2,count_3,count_4,count_5,count_6,count_7,count_8,...,count_490,count_491,count_492,count_493,count_494,count_495,count_496,count_497,count_498,count_499
0,6,0.022727,0.022727,0.022727,0.045455,0.045455,0.045455,0.000000,0.090909,0.022727,...,0.136364,0.022727,0.022727,0.022727,0.272727,0.113636,0.022727,0.022727,0.045455,0.000000
1,109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,177,0.078947,0.000000,0.000000,0.078947,0.000000,0.000000,0.000000,0.026316,0.026316,...,0.078947,0.000000,0.026316,0.000000,0.421053,0.184211,0.052632,0.078947,0.000000,0.000000
3,344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,590,0.017375,0.007722,0.009653,0.032819,0.021236,0.030888,0.011583,0.096525,0.007722,...,0.229730,0.065637,0.019305,0.007722,0.260618,0.055985,0.023166,0.046332,0.030888,0.001931

In [19]:
print col
reviews_countvec.groupby('listing_id')['0', '1', '2', '3', '4'].mean().reset_index()

[False]

        listing_id         0         1         2         3         4
0                6  0.022727  0.022727  0.022727  0.045455  0.045455
1              109  0.000000  0.000000  0.000000  0.000000  0.000000
2              177  0.078947  0.000000  0.000000  0.078947  0.000000
3              344  0.000000  0.000000  0.000000  0.000000  0.000000
4              590  0.017375  0.007722  0.009653  0.032819  0.021236
5              686  0.028571  0.028571  0.028571  0.061905  0.042857
6              930  0.000000  0.000000  0.000000  0.062500  0.000000
7              941  0.000000  0.000000  0.000000  0.000000  0.000000
8              958  0.039370  0.007874  0.007874  0.031496  0.047244
9             1078  0.017751  0.011834  0.000000  0.053254  0.017751
10            1788  0.000000  0.000000  0.000000  0.033333  0.033333
11            1940  0.000000  0.000000  0.000000  0.000000  0.083333
12            2100  0.000000  0.000000  0.000000  0.000000  0.000000
13            2265  0.000000  0.000000  0.000000  0.000000  0.000000
14            2384  0.146667  0.053333  0.013333  0.026667  0.040000
15            2476  0.032258  0.000000  0.000000  0.000000  0.000000
16            2515  0.018293  0.012195  0.000000  0.048780  0.030488
17            2539  0.000000  0.000000  0.000000  0.000000  0.000000
18            2595  0.034483  0.034483  0.000000  0.034483  0.000000
19            2732  0.062500  0.187500  0.000000  0.062500  0.250000
20            3021  0.062500  0.000000  0.062500  0.062500  0.000000
21            3083  0.000000  0.200000  0.000000  0.000000  0.000000
22            3152  0.000000  0.000000  0.000000  0.000000  0.000000
23            3264  0.090909  0.030303  0.000000  0.000000  0.090909
24            3330  0.037037  0.074074  0.000000  0.037037  0.000000
25            3362  0.009091  0.027273  0.072727  0.063636  0.045455
26            3596  0.000000  0.000000  0.000000  0.000000  0.000000
27            3662  0.225806  0.096774  0.000000  0.064516  0.000000
28            3663  0.027027  0.027027  0.000000  0.081081  0.027027
29            3670  0.018519  0.000000  0.000000  0.037037  0.000000
...            ...       ...       ...       ...       ...       ...
113886    23416231  0.000000  0.000000  0.000000  0.000000  0.000000
113887    23420032  0.000000  0.000000  0.000000  0.000000  0.000000
113888    23420382  0.000000  0.000000  0.000000  0.000000  0.000000
113889    23421722  0.000000  0.000000  0.000000  0.000000  0.000000
113890    23425584  0.000000  0.000000  0.000000  0.000000  0.000000
113891    23427396  0.000000  0.000000  0.000000  0.500000  0.000000
113892    23427768  0.000000  0.000000  0.000000  0.000000  0.000000
113893    23431453  0.000000  0.000000  0.000000  0.000000  0.000000
113894    23435903  0.000000  0.000000  0.000000  0.000000  0.000000
113895    23438699  0.000000  0.000000  0.000000  0.000000  0.000000
113896    23447564  0.000000  0.000000  0.000000  0.000000  0.000000
113897    23450129  0.000000  0.000000  0.000000  0.333333  0.000000
113898    23450463  0.000000  0.000000  0.000000  2.000000  0.000000
113899    23452753  0.000000  0.000000  0.000000  0.000000  0.000000
113900    23456047  0.000000  0.000000  0.000000  0.000000  0.000000
113901    23462813  0.000000  0.000000  0.000000  0.000000  0.333333
113902    23462993  0.000000  0.000000  0.000000  0.000000  0.000000
113903    23466099  0.000000  0.000000  0.000000  0.000000  0.000000
113904    23466360  0.000000  0.000000  0.000000  0.000000  0.000000
113905    23470923  0.000000  0.000000  0.000000  0.000000  0.000000
113906    23471169  0.000000  0.000000  0.000000  0.000000  0.000000
113907    23485920  0.000000  1.000000  0.000000  0.000000  1.000000
113908    23495206  0.000000  0.000000  0.000000  0.000000  0.000000
113909    23514988  0.000000  0.000000  0.000000  0.000000  0.000000
113910    23519423  0.000000  0.000000  0.000000  0.000000  0.000000
113911    23525537  0.500000  0.500000  0.000000  0.000000  0.000000
113912    23529920  0.000000  0.000000  0.000000  0.000000  0.000000
113913    23545432  0.000000  0.000000  0.000000  0.000000  0.000000
113914    23566636  0.000000  0.000000  0.000000  0.000000  0.000000
113915    23567482  0.000000  0.000000  0.000000  0.000000  0.000000

[113916 rows x 6 columns]

In [ ]:
train = train.merge(temp, on='listing_id', how='left')
test = test.merge(temp, on='listing_id', how='left')

In [3]:
reviews_countvec.head()

   0  1
0  0  0
1  0  0
2  0  0
3  0  0
4  0  0

In [4]:
reviews_countvec.shape

(3288164, 2)

In [2]:
train = pd.read_csv('train_sent_w2v_300_tfidf_500_loc_listing.csv')
test = pd.read_csv('test_sent_w2v_300_tfidf_500_loc_listing.csv')

In [3]:
train.shape

(70894, 844)

In [4]:
test.shape

(41129, 837)

In [5]:
countvect_feats = pd.read_csv('countvec_feats_500.csv')

In [6]:
countvect_feats.head()

,listing_id,count_0,count_1,count_2,count_3,count_4,count_5,count_6,count_7,count_8,...,count_490,count_491,count_492,count_493,count_494,count_495,count_496,count_497,count_498,count_499
0,6,0.022727,0.022727,0.022727,0.045455,0.045455,0.045455,0.000000,0.090909,0.022727,...,0.136364,0.022727,0.022727,0.022727,0.272727,0.113636,0.022727,0.022727,0.045455,0.000000
1,109,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,177,0.078947,0.000000,0.000000,0.078947,0.000000,0.000000,0.000000,0.026316,0.026316,...,0.078947,0.000000,0.026316,0.000000,0.421053,0.184211,0.052632,0.078947,0.000000,0.000000
3,344,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,590,0.017375,0.007722,0.009653,0.032819,0.021236,0.030888,0.011583,0.096525,0.007722,...,0.229730,0.065637,0.019305,0.007722,0.260618,0.055985,0.023166,0.046332,0.030888,0.001931

In [7]:
countvect_feats.shape

(113916, 501)

In [8]:
train = train.merge(countvect_feats, on='listing_id', how='left')
test = test.merge(countvect_feats, on='listing_id', how='left')

In [9]:
train.head()

,listing_id,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,compound,neg,...,count_490,count_491,count_492,count_493,count_494,count_495,count_496,count_497,count_498,count_499
0,6,93,9.0,9.0,10.0,10.0,9.0,9.0,0.906302,0.013705,...,0.136364,0.022727,0.022727,0.022727,0.272727,0.113636,0.022727,0.022727,0.045455,0.0
1,109,80,10.0,10.0,6.0,8.0,10.0,8.0,0.479400,0.014000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
2,344,80,10.0,10.0,10.0,10.0,10.0,8.0,0.492650,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
3,686,95,9.0,10.0,10.0,10.0,10.0,10.0,0.899540,0.010952,...,0.252381,0.076190,0.009524,0.033333,0.247619,0.076190,0.028571,0.023810,0.028571,0.0
4,930,98,10.0,10.0,10.0,10.0,10.0,10.0,0.883906,0.019000,...,0.312500,0.000000,0.000000,0.000000,0.062500,0.062500,0.000000,0.000000,0.000000,0.0

In [10]:
train.shape, test.shape

((70894, 1344), (41129, 1337))

In [12]:
test.head()

,listing_id,compound,neg,neu,pos,w2v_0,w2v_1,w2v_2,w2v_3,w2v_4,...,count_490,count_491,count_492,count_493,count_494,count_495,count_496,count_497,count_498,count_499
0,177,0.789695,0.020895,0.655263,0.323816,0.125443,0.099148,0.239083,-0.109373,0.115686,...,0.078947,0.000000,0.026316,0.000000,0.421053,0.184211,0.052632,0.078947,0.000000,0.000000
1,590,0.887377,0.010110,0.679164,0.308788,0.003294,0.097149,0.235431,-0.051583,0.079655,...,0.229730,0.065637,0.019305,0.007722,0.260618,0.055985,0.023166,0.046332,0.030888,0.001931
2,958,0.821159,0.014551,0.691268,0.286315,0.215096,0.095965,0.287974,-0.119683,0.054009,...,0.165354,0.000000,0.031496,0.007874,0.393701,0.094488,0.047244,0.039370,0.047244,0.000000
3,1788,0.886797,0.002567,0.695867,0.301567,0.229944,0.084868,0.307960,-0.106768,0.125780,...,0.100000,0.000000,0.033333,0.000000,0.400000,0.166667,0.033333,0.000000,0.000000,0.000000
4,2384,0.909629,0.011200,0.706920,0.281907,0.109573,0.115508,0.294353,-0.011445,0.069103,...,0.240000,0.080000,0.053333,0.000000,0.226667,0.053333,0.026667,0.026667,0.013333,0.000000

In [13]:
train.to_csv('train_sent_w2v_300_tfidf_500_loc_listing_countvec_500.csv')
test.to_csv('test_sent_w2v_300_tfidf_500_loc_listing_countvec_500.csv')